
*.xml
.DS_Store
plantMonitor/Debug/*
plantMonitor/.DS_Store
plantMonitor/MSP432/Debug/*
plantMonitor/MSP432/.DS_Store
plantMonitor/virtual_environment/bin/*
plantMonitor/virtual_environment/include/*
plantMonitor/virtual_environment/lib/*
plantMonitor/virtual_environment/share/*
plantMonitor/virtual_environment/src/static/*
