<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sensor Monitoring</title>
  
    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
    
  </head>
  
  <body>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
<!-- ## -->
    <div class='container'>
		<h1 class="mt-4">Sensor Monitoring </h1>
        <p>Track your company's sensors activity in real time.</p>
        
		<div class="sidebar-wrapper">
			<a href="/">Home</a>
			<a href="/contact">  About us</a>
		</div>	
			
		{% block content %}
		{% endblock content %}
		
		<!-- Sticky Footer -->
		<footer>
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright © Circuititos S.A. 2019</span>
				</div>
			</div>
		</footer> 
		
    </div>
    {% include 'base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>
</html>

<head>

  

</head>
